* {
    box-sizing: border-box;
}

:root {
    --primary: black;
    --secondary: slategray;
    --container: lightgray;
    --background: ghostwhite;
    --heading-font: "Kumbh Sans", sans-serif;
    --text-font: "Montserrat", sans-serif;
}

.header {
    display: flex;
    background-color: var(--secondary);
    justify-content: center;
    text-align: center;
}

.heading {
    color: var(--primary);
    font-family: var(--heading-font);
    margin-top: 10px;
}

.search-label {
    font-family: var(--text-font);
    font-weight: bold;
    margin-top: 5px;
}

.search-wrap-style {
    background-color: lightsteelblue;
}

.text-input {
    margin-bottom: 5px;
}

.current-style {
    background-color: lightblue;
    margin-bottom: 8px;
    border-radius: 5px;
}

.icon {
    width: 75px;
    height: 75px;
}

.result-wrapper {
    border: solid 2px;
}

.uv-class {
    display: flex;
    align-items: center;
}

.uv-result {
    font-size: 25px;
    margin-left: 10px;
    padding: 2px 10px;
    color: white;
}

.margin {
    margin-right: 5px;
}

.forecast-class {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}