* {
    box-sizing: border-box;
}

:root {
    --primary: black;
    --secondary: slategray;
    --container: lightgray;
    --background: ghostwhite;
    --heading-font: "Kumbh Sans", sans-serif;
    --text-font: "Montserrat", sans-serif;
}

.header {
    display: flex;
    background-color: var(--secondary);
    justify-content: center;
    text-align: center;
}

.heading {
    color: var(--primary);
    font-family: var(--heading-font);
    margin-top: 10px;
}

/* .main-content {
    border: solid 2px;
    margin: 0 auto;
} */

.search-label {
    font-family: var(--text-font);
    font-weight: bold;
    margin-top: 5px;
}

.text-input {
    margin-bottom: 5px;
}

.icon {
    width: 100px;
    height: 100px;
}
.result-wrapper {
    border: solid 2px;
}

/* .result-wrap-style {
    border: solid 2px;
} */